<section id="education">
    <!-- Education
    ----------------------------------------------- -->
    <div class="row work">
      <div class="three columns header-col">
        <h1><span>Education</span></h1>
      </div>
  
      <div class="nine columns main-col">
        <div class="row item">
          <div class="twelve columns">
            <h3>University of Pune</h3>
            <p class="info">
              Bachelor of Engineering in Computer<span>&bull;</span>
              <em class="date">May 2016</em>
            </p>
          </div>
        </div>
        <!-- item end -->
        <!-- item end -->
      </div>
      <!-- main-col end -->
    </div>
    </section>