.heading {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    vertical-align: middle;
    line-height: 70px;
    font-size: 2rem;
    font-weight:normal;
    color: #fff;
    
}