
<nav id="nav-wrap">
    <a class="mobile-btn" href="#nav-wrap" title="Show navigation"
      >Show navigation</a
    >
    <a class="mobile-btn" href="#" title="Hide navigation"
      >Hide navigation</a
    >
  
    <ul id="nav" class="nav">
      <li> <a routerLinkActive="active-link" routerLink="/intro">Intro</a></li>
      <li>
      <li> <a routerLinkActive="active-link" routerLink="/personal">Personal</a></li>
      <li>
        <a routerLinkActive="active-link" routerLink="/professional">Professional</a>
      </li>
      <li><a routerLinkActive="active-link" routerLink="/contact">Contact</a></li>
      <li ><a routerLinkActive="active-link" routerLink="/create">Edit</a></li>
    </ul>
    <!-- end #nav -->
  </nav>