<footer>
    <div class="row">
      <div class="twelve columns" *ngIf="socialMediaLinks">
        <ul class="social-links">
          <li>
            <a [attr.href]="socialMediaLinks[0].fbLink" target="_blank"><i class="fa fa-facebook"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-google-plus" target="_blank"></i></a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/sumant-kawathekar-7ba57a102/" target="_blank"><i class="fa fa-linkedin"></i></a>
          </li>
          <li>
            <a href="https://www.instagram.com/sumantkawathekar" target="_blank"><i class="fa fa-instagram"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-skype"></i></a>
          </li>
        </ul>
      </div>
  
    </div>
  </footer>