<section id="about">
    <div class="row">
      <div class="three columns">
        <img class="profile-pic" src="assets/images/profilepic.jpg" alt="" />
      </div>
  
      <div class="nine columns main-col">
        <h2>About Me</h2>
  
        <p>
          Hi, I am Sumant Kawathekar. Currently I am Front End Fullstack Developer having expertise with 
          Angular(2-11), Ionic Framework, Javascript, Nodejs etc. I have worked on live projects in Angular 2 to Angular 11.
          Also worked on backend technologies like Nodejs. I have Completed my Bachelor of Engineering degree from Pune University with Distinction.
          I am a big cricket fan and biggest admirer of MS Dhoni. Along with playing and watching cricket, I also love singing.
        </p>
  
        <div class="download">
          <a href="https://drive.google.com/file/d/1YUGw9X6eFQz43F0phatx91KY1ApZ9doI/view?usp=sharing" target="_blank" class="button"
            ><i class="fa fa-download"></i>Download Resume</a
          >
        </div>
      </div>
      <!-- end .main-col -->
    </div>
  </section>