<section id="contact">
    <div class="row">
      <div class="eight columns">
        <!-- form -->
        <form [formGroup]="contactForm">
          <fieldset>
            <div>
              <label for="contactName"
                >Name <span class="required">*</span></label
              >
              <input
                type="text"
                value=""
                size="35"
                id="contactName"
                formControlName="contactName"
              />
            </div>
            <div class="error" *ngIf="contactForm.controls.contactName.touched && contactForm.controls.contactName.errors && contactForm.controls.contactName.errors.required">Name is required</div>
  
            <div>
              <label for="contactEmail"
                >Email <span class="required">*</span></label
              >
              <input
                type="text"
                value=""
                size="35"
                id="contactEmail"
                formControlName="contactEmail"
              />
            </div>
            <div class="error" *ngIf="contactForm.controls.contactEmail.touched && contactForm.controls.contactEmail.errors 
            && contactForm.controls.contactEmail.errors.required &&contactForm.controls.contactEmail.errors.required">Email is required</div>

  
            <div>
              <label for="contactSubject">Subject</label>
              <input
                type="text"
                value=""
                size="35"
                id="contactSubject"
                formControlName="contactSubject"
              />
            </div>

  
            <div>
              <label for="contactMessage"
                >Message <span class="required">*</span></label
              >
              <textarea
                cols="5"
                rows="5"
                id="contactMessage"
                formControlName="contactMessage"
              ></textarea>
            </div>
            <div class="error" *ngIf="contactForm.controls.contactMessage.touched &&contactForm.controls.contactMessage.errors && contactForm.controls.contactMessage.errors.required">Message is required</div>

  
            <div>
              <button>
                <a target="_blank"href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=suma.kawathekar@gmail.com
                ">
                Submit
                </a>
                </button>
                
            </div>
          </fieldset>
        </form>
        <!-- Form End -->
  
        <!-- contact-warning -->
        <div id="message-warning">Error boy</div>
        <!-- contact-success -->
        <div *ngIf="showSucces" id="message-success">
          <i class="fa fa-check"></i>Your message was sent, thank you!<br />
        </div>
      </div>
  
      <aside class="four columns footer-widgets">
        <div class="widget widget_contact">
          <h4>Contact Details</h4>
          <p class="address">
            Sumant Kawathekar<br />
            Baner <br />
            Pune 411027 <br />
            <span>8308669056</span>
          </p>
        </div>
      </aside>
    </div>
  </section>
  <ngx-spinner></ngx-spinner>