<!-- <app-about-me></app-about-me>
<app-education></app-education> -->

<section id="about">
    <div class="row">
      <div class="nine columns main-col">
        <h2>About Me</h2>
  
        <p *ngIf="userData">
          {{userData.aboutMe}}
          
        </p>
  
        <div class="download">
          <a [attr.href]="userData.resumeLink" target="_blank" class="button"
            ><i class="fa fa-download"></i>Download Resume</a
          >
        </div>
      </div>
      <!-- end .main-col -->
    </div>
  </section>
  <section id="education">
    <!-- Education
    ----------------------------------------------- -->
    <div class="row work">
      <div class="three columns header-col">
        <h1><span>Education</span></h1>
      </div>
  
      <div class="nine columns main-col">
        <div class="row item">
          <div class="twelve columns" *ngIf="userData">
            <h3 class="info">
                {{userData.degreeName}}
                <!-- <span>&bull;</span> -->
              <!-- <em class="date">May 2016</em> -->
            </h3>
            <p>{{userData.universityName}}</p>

          </div>
        </div>
        <!-- item end -->
        <!-- item end -->
      </div>
      <!-- main-col end -->
    </div>

    </section>

    <section id="portfolio">
      <div class="row">
        <div class="twelve columns collapsed">
          <h1>My hobbies.</h1>
    
          <!-- portfolio-wrapper -->
          <div id="portfolio-wrapper"  class="bgrid-quarters s-bgrid-thirds cf">
            <div class="columns portfolio-item">
            <ul class="skill-list">
              <li *ngFor="let hobby of hobbySet">
                <h5>{{hobby.hobbyDetail}}</h5>
              </li>
            </ul>
            </div>
           
          </div>
          <!-- portfolio-wrapper end -->
        </div>
        <!-- twelve columns end -->
        <!-- modal-01 End -->
      </div>
      <!-- row End -->
    </section>
    <!-- <app-hobbies></app-hobbies> -->
