<section id="portfolio">
  <div class="row">
    <div class="twelve columns collapsed">
      <h1>Check Out My Skill Set.</h1>

      <!-- portfolio-wrapper -->
      <div id="portfolio-wrapper" class="bgrid-quarters s-bgrid-thirds cf">
        <div class="columns portfolio-item">
          <div class="item-wrap">
              <img alt="" src="assets/images/Angular.png" />
              <div class="overlay">
                <div class="portfolio-item-meta">
                  <h5>Angular</h5>
                  <p>Version 2 to 11</p>
                </div>
              </div>
          </div>
        </div>
        <!-- item end -->

        <div class="columns portfolio-item">
          <div class="item-wrap">
              <img alt="" src="assets/images/ionic2.png" />
              <div class="overlay">
                <div class="portfolio-item-meta">
                  <h5>Ionic Framework</h5>
                  <p>Version 2 to 5</p>
                </div>
              </div>
          </div>
        </div>
        <!-- item end -->

        <div class="columns portfolio-item">
          <div class="item-wrap">
              <img alt="" src="assets/images/nodejs.png" />
              <div class="overlay">
                <div class="portfolio-item-meta">
                  <h5>NodeJs</h5>
                </div>
              </div>
          </div>
        </div>
        <!-- item end -->

        <div class="columns portfolio-item">
          <div class="item-wrap">
              <img alt="" src="assets/images/JS.png" />
              <div class="overlay">
                <div class="portfolio-item-meta">
                  <h5>Javascript</h5>
                </div>
              </div>
          </div>
        </div>
        <!-- item end -->
        <div class="columns portfolio-item">
          <div class="item-wrap">
              <img alt="" src="assets/images/typescript.png" />
              <div class="overlay">
                <div class="portfolio-item-meta">
                  <h5>Typescript</h5>
                </div>
              </div>
          </div>
        </div>
        
        <div class="columns portfolio-item">
          <div class="item-wrap">
              <img alt="" src="assets/images/html.png" />
              <div class="overlay">
                <div class="portfolio-item-meta">
                  <h5>HTML 5</h5>
                </div>
              </div>
          </div>
        </div>
        <!-- item end -->
      </div>
      <!-- portfolio-wrapper end -->
    </div>
    <!-- twelve columns end -->
    <!-- modal-01 End -->
  </div>
  <!-- row End -->
</section>