<app-intro></app-intro>
<!-- Header End -->

<!-- About Section
================================================== -->
<app-about-me></app-about-me>
<app-education></app-education>

<!-- About Section End-->

<!-- Resume Section
================================================== -->
<app-professional-info></app-professional-info>
<!-- Resume Section End-->
<!-- Portfolio Section
================================================== -->
<app-technologies></app-technologies>
<!-- Portfolio Section End-->

<!-- Contact Section
================================================== -->
<app-contact></app-contact>
<!-- Contact Section End-->

<!-- footer
================================================== -->
<footer>
  <div class="row">
    <div class="twelve columns">
      <ul class="social-links">
        <li>
          <a href="https://www.facebook.com/sumant.kawathekar"><i class="fa fa-facebook"></i></a>
        </li>
        <li>
          <a href="#"><i class="fa fa-google-plus"></i></a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/sumant-kawathekar-7ba57a102/"><i class="fa fa-linkedin"></i></a>
        </li>
        <li>
          <a href="https://www.instagram.com/sumantkawathekar"><i class="fa fa-instagram"></i></a>
        </li>
        <li>
          <a href="#"><i class="fa fa-skype"></i></a>
        </li>
      </ul>
    </div>

    <div id="go-top">
      <a class="smoothscroll" title="Back to Top" href="#home"
        ><i class="icon-up-open"></i
      ></a>
    </div>
  </div>
</footer>