.professional-info-btn {
    margin-bottom: 30px;
    overflow: hidden;

    ul {
        li {
            margin: 0 10px;
            button {
                width: 175px;
            }
        }
    }
}